.counter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.counter-number{
    background-color: #000;
    color: #fff;
    padding: 1rem;
    border-radius: 0.7rem;
    font-size: 4rem;
    font-weight: bold;
    min-width: 80px;
    text-align: center;
}

@media (max-width: 426px) {
     .counter-number{
        box-sizing: border-box;
        align-items: center;
        background-color: #000;
        margin-top: 50px;
        max-width: 5px;
        justify-content: center;
       }

       .counter{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 60px;
        gap: 1rem;
        margin-right: 5px;
    }
    
}